# Шаблоны игнорирования в git
# https://www.atlassian.com/ru/git/tutorials/saving-changes/gitignore#git-ignore-patterns
#

*.exe
*.ii
*.s
*.o
.idea
build_ninja/
_codeql_build_dir/
src/_codeql_build_dir/
